<!--alerta  de  informacion -->
<div class="card mb-3">
  <div class="card-body">
    <form [formGroup]="filtroForm">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="row">
    
            <!-- Código de Orden -->
            <div class="col-12 col-sm-6 mb-3">
              <div class="d-flex align-items-center mb-1">
                <input value="CODIGOS" type="checkbox" class="form-check-input me-2" 
                  (change)="onExclusiveCheckboxChange('codigoOrden', $event)"
                  [disabled]="isEKGActive || (isExclusiveMode && activeFilter !== 'codigoOrden')"
                  [checked]="isChkCodigoOrden"
                  >
                <label for="chkCodigoOrden" class="me-2">Código de Orden</label>
              </div>
              <input id="codigoOrden" type="text" class="form-control" 
                [class.is-invalid]="filtroForm.get('codigoOrden')?.invalid && filtroForm.get('codigoOrden')?.touched"
                placeholder="Ingrese codigo de orden"
                formControlName="codigoOrden" (keyup.enter)="buscar()">
              <div *ngIf="filtroForm.get('codigoOrden')?.invalid && filtroForm.get('codigoOrden')?.touched" 
                   class="invalid-feedback">
                El código de orden es requerido
              </div>
            </div>


            <!-- Flebotomista -->
            <div class="col-12 col-sm-6 mb-3">
              <div class="d-flex align-items-center mb-1">
                <input 
                value="flebotomista"
                type="checkbox" 
                class="form-check-input me-2" id="chkFlebotomista"
                  formControlName="chkFlebotomista" 
                  (change)="onExclusiveCheckboxChange('flebotomista', $event)"
                  [disabled]="isEKGActive || (isExclusiveMode && (activeFilter === 'codigoOrden' || activeFilter === 'numeroAtencion'))"
                  >
                <label for="chkFlebotomista" class="me-2">Flebotomista</label>
              </div>
              <select id="flebotomista" class="form-select" 
                [class.is-invalid]="filtroForm.get('flebotomista')?.invalid && filtroForm.get('flebotomista')?.touched"
                formControlName="flebotomista">
                <option value="" disabled selected>Seleccionar flebotomista</option>
                <option *ngFor="let item of (flebotomistaLaboratorio$ | async)" [value]="item.cod_flebotomista">{{
                  item.flebotomista }}</option>
              </select>
              <div *ngIf="filtroForm.get('flebotomista')?.invalid && filtroForm.get('flebotomista')?.touched" 
                   class="invalid-feedback">
                El flebotomista es requerido
              </div>
            </div>

            <!-- N° Atención -->
            <div class="col-12 col-sm-6 mb-3">
              <div class="d-flex align-items-center mb-1">
                <input 
                type="checkbox" 
                class="form-check-input me-2"
                 id="chkNumeroAtencion"
                  value="CODIGOS"
                  (change)="onExclusiveCheckboxChange('numeroAtencion', $event)"
                  [disabled]="isEKGActive || (isExclusiveMode && activeFilter !== 'numeroAtencion' && activeFilter !== 'codigoOrden')"
                  [checked]="isChkNumeroAtencion">
                <label for="chkNumeroAtencion" class="me-2">N° Atención</label>
              </div>
              <input id="numeroAtencion" type="text" class="form-control" 
                [class.is-invalid]="filtroForm.get('numeroAtencion')?.invalid && filtroForm.get('numeroAtencion')?.touched"
                placeholder="Ingrese numero de atencion"
                formControlName="numeroAtencion" (keyup.enter)="buscar()">
              <div *ngIf="filtroForm.get('numeroAtencion')?.invalid && filtroForm.get('numeroAtencion')?.touched" 
                   class="invalid-feedback">
                El número de atención es requerido
              </div>
            </div>

            <!-- consultas -->
            <div class="col-12 col-sm-6 mb-3">
              <div class="d-flex align-items-center mb-1 gap-2 mt-3">
                <input 
                value="programa"
                type="checkbox" 
                class="form-check-input" 
                id="chkPrograma"
                  (change)="onExclusiveCheckboxChange('programa', $event)" 
                  formControlName="chkPrograma"
                  [disabled]="isEKGActive || (isExclusiveMode && (activeFilter === 'codigoOrden' || activeFilter === 'numeroAtencion'))">
                <label style="visibility: hidden; padding-top: 5px;"></label>
                <select 
                formControlName="programa"
                 (change)="onExclusiveCheckboxChange('tipoConsulta', $event)"
                  id="programa" class="form-select" 
                  [class.is-invalid]="filtroForm.get('programa')?.invalid && filtroForm.get('programa')?.touched"
                  style="width: 40%; min-width: 100px;"
                  >
                  <option value="" disabled selected>Seleccionar consulta</option>
                  <option *ngFor="let item of tipoConsulta" [value]="item.id">{{ item.name }}</option>
                </select>
                <input  id="programaInput" type="text" class="form-control" 
                  [class.is-invalid]="filtroForm.get('programaInput')?.invalid && filtroForm.get('programaInput')?.touched"
                  placeholder="Ingrese la consulta"
                  formControlName="programaInput" style="width: 60%; min-width: 100px;">
              </div>
              <div *ngIf="(filtroForm.get('programa')?.invalid || filtroForm.get('programaInput')?.invalid) && (filtroForm.get('programa')?.touched || filtroForm.get('programaInput')?.touched)" 
                   class="invalid-feedback">
                Los campos de programa son requeridos
              </div>
            </div>

            <!-- programa -->
            <div class="col-12 col-sm-6 mb-3">
              <div class="d-flex align-items-center mb-1">
                <input
                 type="checkbox" 
                 value="tipoPrograma"
                 class="form-check-input me-2" 
                 id="chkTipoPrograma"
                 (change)="onExclusiveCheckboxChange('tipoPrograma', $event)"
                  [checked]="isChkTipoPrograma"
                  [disabled]="isEKGActive || (isExclusiveMode && (activeFilter === 'codigoOrden' || activeFilter === 'numeroAtencion'))"
                  >
                <label for="chkTipoPrograma" class="me-2">Tipo Programa</label>
              </div>
              <select id="tipoprograma" class="form-select" 
                [class.is-invalid]="filtroForm.get('tipoPrograma')?.invalid && filtroForm.get('tipoPrograma')?.touched"
                formControlName="tipoPrograma">
                <option value="" disabled selected>Seleccionar Programa</option>
                <option 
                *ngFor="let item of listaClasificacion"
                 [value]="item.cser_id"
                 >{{ item.sser_nombre }}</option>
              </select>
              <div *ngIf="filtroForm.get('tipoPrograma')?.invalid && filtroForm.get('tipoPrograma')?.touched" 
                   class="invalid-feedback">
                El tipo de programa es requerido
              </div>
            </div>

            <!-- Est. Orden lab -->
            <div class="col-12 col-sm-6 mb-3">
              <div class="d-flex align-items-center mb-1">
                <input 
                value="estado"
                type="checkbox" class="form-check-input me-2" id="chkEstadoOrdenLab"
                  (change)="onExclusiveCheckboxChange('estado', $event)"
                  [disabled]="isEKGActive || (isExclusiveMode && (activeFilter === 'codigoOrden' || activeFilter === 'numeroAtencion'))"
                  [checked]="isChkEstado">
                <label for="chkEstadoOrdenLab" class="me-2">Est. Orden lab</label>
              </div>
              <select id="estadoOrdenLab" class="form-select" 
                [class.is-invalid]="filtroForm.get('estadoOrdenLab')?.invalid && filtroForm.get('estadoOrdenLab')?.touched"
                formControlName="estadoOrdenLab">
                <option value="" disabled selected>Seleccionar Estado de Orden Lab</option>
                <option value="0">0</option>
                <option value="2,R2">2,R2</option>
                <option value="3,R3">3,R3</option>
              </select>
              <div *ngIf="filtroForm.get('estadoOrdenLab')?.invalid && filtroForm.get('estadoOrdenLab')?.touched" 
                   class="invalid-feedback">
                El estado de orden lab es requerido
              </div>
            </div>
          </div>
        </div>
        <!-- Columna derecha: tipo programa, programa, fechas, checkbox y botones -->
        <div class="col-12 col-md-4">
          <div class="row">
            <!-- Estado de EKG -->
            <div class="col-12 mb-3">
              <div class="d-flex align-items-center mb-1">
                <input value="EKG" type="checkbox" class="form-check-input me-2" id="chkEstadoEkg"
                  formControlName="chkEstadoEkg" (change)="onExclusiveCheckboxChange('EKG', $event)">
                <label for="chkEstadoEkg" class="me-2">Estado de EKG</label>
              </div>
              <select id="estadoEkg" class="form-select" 
                [class.is-invalid]="filtroForm.get('estadoEkg')?.invalid && filtroForm.get('estadoEkg')?.touched"
                formControlName="estadoEkg">
                <option value="" disabled selected>Seleccionar estado de EKG</option>
                <option *ngFor="let item of estadoEKG" [value]="item.id">{{ item.name }}</option>
              </select>
              <div *ngIf="filtroForm.get('estadoEkg')?.invalid && filtroForm.get('estadoEkg')?.touched" 
                   class="invalid-feedback">
                El estado de EKG es requerido
              </div>
            </div>
            <!-- Clasif. Orden lab -->
            <div class="col-12 mb-3">
              <div class="d-flex align-items-center mb-1">
                <input
                value="clasificacion"
                 type="checkbox" 
                 class="form-check-input me-2" 
                 id="chkClasificacionOrdenLab"
                  (change)="onExclusiveCheckboxChange('clasificacion', $event)"
                  [disabled]="isEKGActive || (isExclusiveMode && (activeFilter === 'codigoOrden' || activeFilter === 'numeroAtencion'))"
                  [checked]="isChkClasificacion"
                  >
                <label for="chkClasificacionOrdenLab" class="me-2">Clasif. Orden lab</label>
              </div>
              <select 
              id="clasificacionOrdenLab"
               class="form-select" 
               [class.is-invalid]="filtroForm.get('clasificacionOrdenLab')?.invalid && filtroForm.get('clasificacionOrdenLab')?.touched"
               formControlName="clasificacionOrdenLab">
                <option value="" disabled selected>Seleccionar clasificacion de orden lab</option>
                <option *ngFor="let item of clsificacionOrde" [value]="item.id">{{ item.name }}</option>
              </select>
              <div *ngIf="filtroForm.get('clasificacionOrdenLab')?.invalid && filtroForm.get('clasificacionOrdenLab')?.touched" 
                   class="invalid-feedback">
                La clasificación de orden lab es requerida
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="d-flex align-items-center mb-1">
                <label for="fechaInicio" class="me-2">Fecha Inicio</label>
              </div>
              <div class="input-group">
                <input id="fechaInicio" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                  #d="ngbDatepicker" formControlName="fechaInicio" [(ngModel)]="startDate" (ngModelChange)="onFechaInicioChange($event)" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
              </div>
            </div>

            <!-- fecha final  -->
            <div class="col-6 mb-3">
              <div class="d-flex align-items-center mb-1">
                <label for="fechaFin" class="me-2">Fecha Fin</label>
              </div>
              <div class="input-group">
                <input id="fechaFin" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                  #d2="ngbDatepicker" formControlName="fechaFin" [(ngModel)]="endtDate" (ngModelChange)="onFechaFinChange($event)" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button"></button>
              </div>
            </div>

          </div>
        </div>
        <!-- Nueva fila: checkbox y 3 botones -->
        <div class="col-12 col-md-4 d-flex align-items-center mb-1">
          <input 
          class="form-check-input me-2" 
          type="checkbox" 
           value="finalizadas"
          id="finalizadasCheckbox"
            (change)="onExclusiveCheckboxChange('finalizadas', $event)" 
            formControlName="chkFinalizadas"
            [disabled]="isEKGActive || (isExclusiveMode && (activeFilter === 'codigoOrden' || activeFilter === 'numeroAtencion'))"
            >
          <label class="form-check-label m-0 me-3" for="finalizadasCheckbox">Finalizadas</label>
          <button appHotKey="ctrl+f" type="button" class="btn color-sucess ms-auto" style="min-width: 120px;" (click)="buscar()">
            Filtrar <i class="fas fa-search"></i>
          </button>
        </div>

        <div class="offset-md-4 col-12 col-md-4 d-flex justify-content-end gap-2">
          <button 
          *ngIf="isVisibleEKG" 
          type="button" 
          class="btn color-sucess" 
          (click)="exportarEkgExce()"
          >
            Exportar Excel EKG <i class="far fa-file-alt"></i>
          </button>
          <button 
          *ngIf="isVisibleExportar" 
          type="button" 
          class="btn color-sucess" 
          style="min-width: 120px;"
          (click)="exportarFlebotomista()"
          >
            Exportar TXT Flebotomista <i class="far fa-file-alt"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Grilla Principal  y filtrado   -->
<div class="card mt-3">
  <div class="card-body overflow-auto">
    <div class="table-responsive">
      <table class="table table-hover mb-0 w-auto mx-auto text-center align-middle">
        <thead class="table-sanna">
          <tr style="font-size: 11px;">
            <th scope="col" class="fw-bold">ESTADO</th>
            <th scope="col" class="fw-bold">TIPO</th>
            <th scope="col" class="fw-bold">CLASIFICACION</th>
            <th scope="col" class="fw-bold">N° ORDEN</th>
            <th scope="col" class="fw-bold">N° ATENCION</th>
            <th scope="col" class="fw-bold">PROGRAMADA</th>
            <th scope="col" class="fw-bold">PACIENTE</th>
            <th scope="col" class="fw-bold">DISTRITO</th>
            <th scope="col" class="fw-bold">DIRECCION</th>
            <th scope="col" class="fw-bold">FEC. CREACION</th>
            <th scope="col" class="fw-bold">HR. CREACION</th>
            <th scope="col" class="fw-bold">FEC. SERVICIO</th>
            <th scope="col" class="fw-bold">FEC. MAXIMA</th>
            <th scope="col" class="fw-bold">FEC.CORDINADA</th>
            <th scope="col" class="fw-bold">HR.CORDINADA</th>

          </tr>
        </thead>
        <tbody>
          <tr class="cursor-pointer border-bottom-gray-simple text-uppercase" 
          *ngFor="let item of AllDatosDegrillaOrden"
            (click)="selectRow(item)" 
            (dblclick)="ItemColunm(item)"
             value="item" 
             [ngClass]="{
               'selected-rows': selectedRow == item
              }">

            <td>{{ item.estado }}</td>
            <td>{{ item.tipo }}</td>
            <td>{{ item.clasificacion }}</td>
            <td>{{ item.cod_serv_laboratorio }}</td>
            <td>{{ item.cod_ate}}</td>
            <td>{{ item.programa }}</td>
            <td>{{ item.paciente }}</td>
            <td>{{ item.des_dis }}</td>
            <td >{{ item.direccion }}</td>
            <td>{{ item.fecha_creacion | date:'dd/MM/yyyy' }}</td>
            <td>{{ item.hora_creacion }}</td>
            <td>{{ item.fecha_servicio | date:'dd/MM/yyyy'}} </td>
            <td>{{ item.fecha_maxima | date:'dd/MM/yyyy'}} </td>
            <td>{{ item.fecha_coordinada | date:'dd/MM/yyyy' }}</td>
            <td>{{ item.hora_coordinada }}</td>
          </tr>
          <tr *ngIf="!AllDatosDegrillaOrden || AllDatosDegrillaOrden.length < 1">
            <td colspan="22" class="text-center align-middle bg-dark p-2 text-dark bg-opacity-10">
              <p class="mb-0">No se encontraron datos</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination
      [paginationData]="paginationData"
      [options]="paginationOptions"
      (itemsPerPageChange)="onItemsPerPageChange($event)"
      (previousPage)="onPreviousPage()"
      (nextPage)="onNextPage()">
    </app-pagination>

  </div>
</div>
<div class="card-body mt-3">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-2">
          <app-button buttonType="segundario" label="Seguimiento" [disabled]="buttonsDisabled"
            (clicked)="btnSeguimiento()">
          </app-button>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-2">
          <app-button buttonType="segundario" label="Creación" (clicked)="btnCreacion()">
          </app-button>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-2">
          <app-button buttonType="segundario" label="Auditoria ate" [disabled]="buttonsDisabled"
            (clicked)="btnAuditoria()">
          </app-button>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-2">
          <app-button buttonType="segundario" label="Soporte" [disabled]="estado !== '3 ' && estado !== '6 ' && estado !== 'C ' && estado !== 'R2' && estado !== 'R3' " (clicked)="btnSoporte()">
          </app-button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
          <app-button buttonType="segundario" label="Detalle" (clicked)="btnDetalle()">
          </app-button>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
          <app-button buttonType="segundario" label="Incidencia">
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>